/* My writing */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  height: 100%;
}

.header {
  text-align: center;
  background-color: #e4f0f9;
  /* display: flex; */
}

.add-item {
  background-color: #d7d2cb;
}

.container {
  background-color: #ddc9a2;
  height: 100%;
  display: flex;
  flex-flow: column;
   text-align: center; 
   margin: auto; 
  /* width: x; */
}

.display-item {
  margin: auto;
}

/* .title {
  flex: right;
} */

.total {
  text-align: left;
  width: 300px;
  margin-left: 35%;
  padding-top: 2%;
  font-weight: bold;
}


.wrapper li{
  background-color: #c28ea0;
  width: 300px;
  text-align: center;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  padding: 10px;
  color: white
}

.wrapper ul {
  list-style-type: none;
}

/* .xButton {
  flex: left
} */

/* .colors {
  #e4f0f9 - lavander
  #d7d2cb - light Gray
  #ddc9a2 - burly wood
  #c28ea0 - Rosey Brown
} */
